<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    
    </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--<file value="Logs\Logs.txt" />
      <appendToFile value="true" />-->
      <file value="Logs\" />
      <rollingStyle value="Date" />
      <datePattern value="'Nooch_API_'yyyy-MM-dd" />
      <preserveLogFileNameExtension value="true" />
      <staticLogFileName value="false" />
      <file type="log4net.Util.PatternString" value="Logs\\.log" />
      
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-15.15c{1} %-15.15M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

 
    <add key="EmailTemplatesPath" value="C:\nooch_server_asp\EmailTemplates\" />
    <add key="SynapseClientId" value="Au4XMZuR83ZHYDC6DgrI" />
    <add key="SynapseClientSecret" value="4DuoRwvfqyt2nz4FwuX64ow7Aew4YiQnYVibrkkP" />
    
  
 
    <add key="WeeklyTransferLimit" value="1000" />
     
    <add key="SDNMailReciever" value="malkit.singh@venturepact.com" />
    <add key="welcomeMail" value="support@nooch.com" />
    <add key="nonprofitMail" value="nonprofits@nooch.com" />
    <add key="transfersMail" value="receipts@nooch.com" />
    <add key="supportMail" value="support@nooch.com" />
    <add key="adminMail" value="support@nooch.com" />
       <add key="PhotoUrl" value="https://172.17.60.150/noochservice/UploadedPhotos/Photos/" />

    <add key="SMTPAddress" value="smtp.mandrillapp.com" />
    <add key="SMTPAddressForCSVAttachment" value="pro.turbo-smtp.com" />

    <add key="SMTPLogOn" value="cliff@nooch.com" />
    <add key="SMTPLogOnForCSVAttachment" value="malkit.singh@venturepact.com" />
    <!--Password for the mail server if the Authentications are reqd -->
    <!--<add key="SMTPPassword" value="5EtZ8Jjc3qd" />-->
    <add key="SMTPPassword" value="7UehAJkEBJJas0EpQKWppQ" />
    <add key="SMTPPasswordForCSVAttachment" value="Nirvana@123_#@!" />


    <add key="AccountPhone" value="+12158044226" />
    <add key="AccountSid" value="AC94ca5c5e568fdbe139ac863007197059" />


    <add key="AuthToken" value="e60769a51258926d9586241f6eb24da2" />



  </appSettings>
  <connectionStrings>
    <add name="NOOCHEntities" connectionString="metadata=res://*/NoochDbModel.csdl|res://*/NoochDbModel.ssdl|res://*/NoochDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NOOCH;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>