@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Micro Deposit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/animate.css")" />
    <link rel="stylesheet" href="../Assets/Css/tweaks.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>


    <link rel="icon" href="../Assets/favicon.ico" />
    <meta name="apple-itunes-app" content="app-id=917955306" />
</head>

<body style="background-color: rgba(230, 231, 232, 0.8);" id="body-depositNew">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="msb">
        <div style="background: none;">
            <a class="landingHeaderLogo center-block" href="https://www.nooch.com">
                <img src="../assets/Images/nooch-logo2.svg" class="center-block" alt="Nooch">
            </a>
        </div>
    </nav>

    <script>       
        $(function () {
            $('.two-digits').keyup(function () {
                if ($(this).val().indexOf('.') != -1) {
                    if ($(this).val().split(".")[1].length > 2) {
                        if (isNaN(parseFloat(this.value))) return;
                        this.value = parseFloat(this.value).toFixed(2);
                    }
                }
                return this; //for chaining
            });
        });

        $(document).ready(function () {
            $(".two-digits").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                    (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
        });
    </script>

  
    <div class="row" style="padding-top:50px;">

        <div class="col-sm-4">           
        </div>

        <div class="col-sm-4">     
            
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Money"><b>$ 0.</b></label>
                    <div class="col-sm-10">
                        <input type="text" id="one" class="form-control two-digits" placeholder="22 Cents" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Money1"><b>$ 0.</b></label>
                    <div class="col-sm-10">
                        <input type="text" id="two" class="form-control two-digits" placeholder="23 Cents" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button  class="btn btn-default" type="submit" style="width:100%;">Submit<i class="fa fa-sign-in m-l-15"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
        </div>
    </div>


    <div class="footer col-xs-12 col-sm-12">
        <div>
            <ul class="list-inline">
                <li><a href="https://www.nooch.com/overview">About</a></li>
                <li><a href="https://www.nooch.com/safe">Security</a></li>
                <li><a href="http://support.nooch.com/">Support Center</a></li>
                <li><a href="https://www.nooch.com/privacy">Privacy Policy</a></li>
                <li><a href="https://www.nooch.com/blog/">Blog</a></li>
            </ul>
        </div>
    </div>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    
    <!-- Bootstrap Plugins -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

</body>
</html>
