@using Nooch.Common.Entities;
@{
    Layout = null;
    ResultResetPassword rrp = (ResultResetPassword)ViewData["OnLoaddata"];
}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Nooch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />

    <link href="../Assets/Css/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="../Assets/Css/tweaks.css" />
    <link href="../Assets/Css/bootstrap.css" rel="stylesheet" />

    <link rel="icon" href="../Assets/favicon.ico" />
    <meta name="apple-itunes-app" content="app-id=917955306" />
    @Html.Raw(rrp.clientScript)

</head>


<body style="background-color: rgba(230, 231, 232, 0.8);" id="body-depositNew">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="msb">
        <div style="background: none;">
            <a class="landingHeaderLogo center-block" href="https://www.nooch.com">
                <img src="../assets/Images/nooch-logo2.svg" class="center-block" alt="Nooch">
            </a>
        </div>
    </nav>

    <form id="form1" data-parsley-validate>
        <div>
            @*Details content place holder*@

            <script>
                $(function showpassfoeld() {
                    $('#pwFormShell').removeClass('hidden');
                });
            </script>

            <div id="m" runat="server">
                <div id="depositHeader">
                    <div>Reset Password</div>
                    <div id="fromText">for</div>
                    <span id="senderName">
                        <label id="usermail">@rrp.usermail</label>
                    </span>
                </div>
            </div>

            <div id="r">
                <div id="iconCircleFA" class="floating light-green-text">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-1x"></i>
                        <i class="fa fa-exclamation-circle fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>

            <div id="chk" runat="server" style="display: none">
                <div id="checkEmailMsg" class="row">
                    <div style="width: 90%; margin: 5px auto;">
                        <div id="createPWSuccessText">Success!</div>
                        <div id="checkEmailText">Password Updated</div>
                        <div id="checkEmailText2">Please try logging into Nooch with your new password.</div>
                        <div id="openAppText"><a href="nooch://" class="btn btn-lg btn-default">Return to the Nooch App</a></div>
                    </div>
                </div>
            </div>

            @if (rrp.pin != false)
            {
                <div id="pin" style="display:block">
                    <div id="PINFormShell" class="col-xs-12 col-sm-offset-3 col-sm-6">
                        <div class="resetPWInstructions">Please enter your Nooch PIN.</div>
                        <div id="passwordForm" class="form-group">
                            <!--<input type="password" id="pin" class="form-control input-lg" name="pin" parsley-minlength="3" parsley-trigger="focusout" parsley-notblank="true" parsley-required="true" placeholder="Enter PIN" maxlength="10">-->
                            <input type="password"   id="PINTextBox" class="form-control input-lg center-block text-center" placeholder="Enter PIN" maxlength="8" style="width: 60%; font-size: 24px; letter-spacing: 4.5px;" />
                        </div>
                        <div id="passwordBtnShell" class="form-group">
                            <!--<button id="continue" type="submit" class="btn btn-default btn-lg btn-block">Continue</button>-->
                            <button id="pinNumberVerificationButton" type="button" class="btn btn-primary btn-lg center-block" style="width: 60%;">Continue</button>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div id="pin" style="display:none">
                    <div id="PINFormShell" class="col-xs-12 col-sm-offset-3 col-sm-6">
                        <div class="resetPWInstructions">Please enter your Nooch PIN.</div>
                        <div id="passwordForm" class="form-group">
                            <!--<input type="password" id="pin" class="form-control input-lg" name="pin" parsley-minlength="3" parsley-trigger="focusout" parsley-notblank="true" parsley-required="true" placeholder="Enter PIN" maxlength="10">-->
                            <input type="password" id="PINTextBox" class="form-control input-lg center-block text-center" placeholder="Enter PIN" maxlength="8" style="width: 60%; font-size: 24px; letter-spacing: 4.5px;" />
                        </div>
                        <div id="passwordBtnShell" class="form-group">
                            <!--<button id="continue" type="submit" class="btn btn-default btn-lg btn-block">Continue</button>-->
                            <button id="pinNumberVerificationButton" type="button" class="btn btn-primary btn-lg center-block" style="width: 60%;">Continue</button>
                        </div>
                    </div>
                </div>
            }



            @if (rrp.requestExpiredorNotFound == true)
            {
                <div id="requestExpiredorNotFound" runat="server">
                    <div id="Div4" class="col-xs-12 col-sm-offset-3 col-sm-6">
                        <div class="resetPWInstructions">Your reset password link expired.</div>

                    </div>
                </div>
            }
            else
            { 
            <div id="resetPasswordDiv" runat="server">
                <div id="pwFormShell" class="col-sm-offset-3 col-sm-6" runat="server" clientidmode="static">
                    <div class="resetPWInstructions">You can reset your password here.</div>
                    <div id="Div1" class="form-group">
                        <!--<input type="password" id="password" class="form-control input-lg" name="password" parsley-minlength="6" parsley-trigger="focusout" parsley-notblank="true" parsley-required="true" parsley-equalto="#password" placeholder="Password" maxlength="25">-->
                        <!--<input type="password" id="confirmPassword" class="form-control input-lg" name="confirmPassword" parsley-minlength="6" parsley-trigger="focusout" parsley-notblank="true" parsley-required="true" parsley-equalto="#password" placeholder="Confirm Password" maxlength="25">-->
                        <input type="password" data-parsley-notblank="true" data-parsley-minlength="6" data-parsley-required data-parsley-required-message="password is required" data-parsley-equalto="#confirmPWDTextBox" id="PWDTextBox" class="form-control input-lg center-block text-center" placeholder="Password" maxlength="20" style="width: 90%;max-width:360px;" />
                        <input type="password" required   data-parsley-required-message="confirm password is required"   id="confirmPWDTextBox" clientidmode="static" class="form-control input-lg center-block text-center" placeholder="Confirm Password" maxlength="25" style="width: 90%;max-width:360px;" />
                    </div>
                    <div id="Div2" class="form-group">
                        <!--<button id="createPassword" type="submit" class="form-control input-lg center-block text-center">Change Password</button>-->
                        <button id="ResetPasswordButton" type="button" tabindex="3" validationgroup="registerGroup" class="btn btn-default btn-lg center-block">Change Password</button>
                    </div>
                    <asp:CustomValidator ID="resetPasswordCustomValidator" CssClass="errorValidText" ForeColor="Green" ValidationGroup="registerGroup" runat="server" Visible="true"></asp:CustomValidator>
                    @if (rrp.ResetPasswordMessageLabel == true)
                    {
                        <label id="ResetPasswordMessageLabel" class="errorValidText"></label>
                    }

                    <div id="messageDiv" class="register" style="display: none;"></div>
                </div>
            </div>
            }
            @if (rrp.messageLabel == true)
            {
                <label id="messageLabel" class="errorValidText" style="display:block"></label>
            }

            else
            {
                <label id="messageLabel" class="errorValidText" style="display:none"></label>
            }
            <script type="text/javascript">
                function ShowInfoImage(informationDiv) {
                    document.getElementById(informationDiv).style.display = 'block';
                }
                function HideInfoImage(informationDiv) {
                    document.getElementById(informationDiv).style.display = 'none';
                }
                function Show(id, id1) {
                    document.getElementById(id).style.display = '';
                    document.getElementById(id1).style.display = 'none';
                }
                $(function () {
                    $('#createPINForm').submit(function (e) {
                        e.preventDefault();
                        if ($(this).parsley('validate')) {

                            $('#pwFormShell').removeClass('hidden');
                        }
                        else {
                            $('#iconCircleFA').one('webkitAnimationIteration oanimationiteration MSAnimationIteration animationiteration', function (e) {
                                $('#iconCircleFA').removeClass('floating light-green-text').addClass('red-text shake');
                            });
                            $('#iconCircleFA').one('webkitAnimationEnd oanimationend msAnimationEnd animationend', function (e) {
                                $('#iconCircleFA').removeClass('shake red-text').addClass('light-green-text floating');
                            });
                        }
                    });
                });
            </script>

            @*End Details content place holder*@
            <div class="footer col-xs-12 col-sm-12">
                <div>
                    <ul class="list-inline">
                        <li><a href="https://www.nooch.com/overview">About</a></li>
                        <li><a href="https://www.nooch.com/safe">Security</a></li>
                        <li><a href="http://support.nooch.com/">Support Center</a></li>
                        <li><a href="https://www.nooch.com/privacy">Privacy Policy</a></li>
                        <li><a href="https://www.nooch.com/blog/">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="~/js/parsley.min.js"></script>
    <script src="~/js/app/resetPassword.js"></script>
    <!-- Bootstrap Plugins -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
</body>
</html>

