.landingHeaderLogo {
    margin: 12px auto;
}
.landingHeaderLogo > img {
    width: 110px;
	-webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.idVerify-container {
    background: #fff;
    border-radius: 5px;
    height: auto;
    max-width: 580px;
    margin: 2px auto 0;
    width: 96%;
}

.well {font-size:15px;}

.wizard {padding-top:0px;}
.wizard > .content {
  box-shadow: 0 15px 18px -11px rgba(64,65,66,.35), 0 0px 12px -6px rgba(64,65,66,.3);
  min-height:26em;
  margin-bottom:20px;
}
.wizard > .content > .body {padding-top:0px;}
.wizard > .steps {display:none;}

#userVerification-icon {
  display:block;
  margin:0 auto;
}
#userVerification-icon .fa-stack-2x {
  color: #fff;
  font-size: 42px;
  text-shadow: 0 0 2px rgba(88,90,92,0.5);
}
#userVerification-icon .fa-stack-1x {
  color: #72bf44;
  font-size: 21px;
  top: 2px;
}

.well { font-size: 18px; padding: 10px 8px; }

.questionTitleLabel {
  border-bottom: 1px solid rgba(188,190,192,.6);
  font-size:16px;
  font-weight:500;
  margin:12px auto;
  padding-bottom:8px;
  text-align:center;
  max-width:150px;
  width:90%;
}

.radio { border-radius: 5px; margin: 0; padding-left: 0; }
.radio:hover, .radio:active, radio:focus { background-color: rgba(147,149,152,.5); }
.radio label { font-size:15px; font-weight:500; }
.radio label input:checked + span { font-weight:600; }
.radio + .radio, .checkbox + .checkbox { margin-top: 0px; }
.wizard > .content .body .radio label { margin: 0; padding: 10px 15px 10px 35px; width: 100%; }

.checkbox label,
.radio label {
  padding-left: 30px;
  position: relative;
}

.checkbox input,
.radio input {
  top: 0;
  left: 0;
  margin-left: 0 !important;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  margin-top: 0;
}

.checkbox .input-helper:before,
.radio .input-helper:before,
.checkbox .input-helper:after,
.radio .input-helper:after {
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  content: "";
}
.checkbox .input-helper:before,
.radio .input-helper:before {
  left: 0;
  border: 1px solid #ccc;
}
.checkbox.disabled,
.radio.disabled {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.radio input {
  width: 19px;
  height: 19px;
}
.radio input:checked + .input-helper:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.radio .input-helper:before {
  top: 12px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  left: 15px;
}
.radio .input-helper:after {
  width: 11px;
  height: 11px;
  background: #72bf44;
  border-radius: 50%;
  top: 16px;
  left: 19px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.checkbox-inline,
.radio-inline {
  vertical-align: top;
  margin-top: 0;
  padding-left: 25px;
}
.radio input:checked + i + span {
  color: #3fabe1;
  font-weight: 600;
}
.feedbackContainer .alert {
  margin:-5px 0 0;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  padding: 6px 10px;
}
.feedbackContainer .alert-danger {
  background-color: #d61915;
  border-color: #c41713;
  border-radius:3px;
  box-shadow: 0 3px 2px -2px rgba(89,10,9,.6);
  color: white;
}

.errorMessage { font-size: 15px; }

.sweet-alert h2 {
  margin: 10px auto 15px;
  font-size: 26px;
  line-height: initial;
}
.sweet-alert p {font-size:18px;}

.m-0 {margin: 0px !important;}
.m-t-0 {margin-top: 0px !important;}
.m-b-0 {margin-bottom: 0px !important;}
.m-l-0 {margin-left: 0px !important;}
.m-r-0 {margin-right: 0px !important;}
.m-5 {margin: 5px !important;}
.m-t-5 {margin-top: 5px !important;}
.m-b-5 {margin-bottom: 5px !important;}
.m-l-5 {margin-left: 5px !important;}
.m-r-5 {margin-right: 5px !important;}
.m-10 {margin: 10px !important;}
.m-t-10 {margin-top: 10px !important;}
.m-b-10 {margin-bottom: 10px !important;}
.m-l-10 {margin-left: 10px !important;}
.m-r-10 {margin-right: 10px !important;}
.m-15 {margin: 15px !important;}
.m-t-15 {margin-top: 15px !important;}
.m-b-15 {margin-bottom: 15px !important;}
.m-l-15 {margin-left: 15px !important;}
.m-r-15 {margin-right: 15px !important;}
.m-20 {margin: 20px !important;}
.m-t-20 {margin-top: 20px !important;}
.m-b-20 {margin-bottom: 20px !important;}
.m-l-20 {margin-left: 20px !important;}
.m-r-20 {margin-right: 20px !important;}
.m-25 {margin: 25px !important;}
.m-t-25 {margin-top: 25px !important;}
.m-b-25 {margin-bottom: 25px !important;}
.m-l-25 {margin-left: 25px !important;}
.m-r-25 {margin-right: 25px !important;}
.m-30 {margin: 30px !important;}
.m-t-30 {margin-top: 30px !important;}
.m-b-30 {margin-bottom: 30px !important;}
.m-l-30 {margin-left: 30px !important;}
.m-r-30 {margin-right: 30px !important;}
/*
 * Generate Padding Class
 * padding, padding-top, padding-bottom, padding-left, padding-right
 */
.p-0 {padding: 0px !important;}
.p-t-0 {padding-top: 0px !important;}
.p-b-0 {padding-bottom: 0px !important;}
.p-l-0 {padding-left: 0px !important;}
.p-r-0 {padding-right: 0px !important;}
.p-5 {padding: 5px !important;}
.p-t-5 {padding-top: 5px !important;}
.p-b-5 {padding-bottom: 5px !important;}
.p-l-5 {padding-left: 5px !important;}
.p-r-5 {padding-right: 5px !important;}
.p-10 {padding: 10px !important;}
.p-t-10 {padding-top: 10px !important;}
.p-b-10 {padding-bottom: 10px !important;}
.p-l-10 {padding-left: 10px !important;}
.p-r-10 {padding-right: 10px !important;}
.p-15 {padding: 15px !important;}
.p-t-15 {padding-top: 15px !important;}
.p-b-15 {padding-bottom: 15px !important;}
.p-l-15 {padding-left: 15px !important;}
.p-r-15 {padding-right: 15px !important;}
.p-20 {padding: 20px !important;}
.p-t-20 {padding-top: 20px !important;}
.p-b-20 {padding-bottom: 20px !important;}
.p-l-20 {padding-left: 20px !important;}
.p-r-20 {padding-right: 20px !important;}
.p-25 {padding: 25px !important;}
.p-t-25 {padding-top: 25px !important;}
.p-b-25 {padding-bottom: 25px !important;}
.p-l-25 {padding-left: 25px !important;}
.p-r-25 {padding-right: 25px !important;}
.p-30 {padding: 30px !important;}
.p-t-30 {padding-top: 30px !important;}
.p-b-30 {padding-bottom: 30px !important;}
.p-l-30 {padding-left: 30px !important;}
.p-r-30 {padding-right: 30px !important;}
/** Font Size **/
.f-10 {font-size:10px !important;}
.f-11 {font-size:11px !important;}
.f-12 {font-size:12px !important;}
.f-13 {font-size:13px !important;}
.f-14 {font-size:14px !important;}
.f-15 {font-size:15px !important;}
.f-16 {font-size:16px !important;}
.f-17 {font-size:17px !important;}
.f-18 {font-size:18px !important;}
.f-19 {font-size:19px !important;}
.f-20 {font-size:20px !important;}
.f-21 {font-size:21px !important;}
.f-22 {font-size:22px !important;}
.f-23 {font-size:23px !important;}
.f-24 {font-size:24px !important;}
.f-25 {font-size:25px !important;}
.f-30 {font-size:30px !important;}
.f-600 {font-weight:600;}

/** Font Weight **/
.f-300 {font-weight: 300 !important;}
.f-400 {font-weight: 400 !important;}
.f-500 {font-weight: 500 !important;}
.f-700 {font-weight: 700 !important;}

.animated {
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
}
@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  100% {
    opacity: 0;
  }
}
.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}

@media screen and (min-width: 440px)
{
    .radio:hover { background-color: rgba(147,149,152,.5); }
    .radio:hover .input-helper:before { border-color: #4c9420; }
}


/** FOR LARGE SCREENS ONLY **/
@media screen and (min-width: 767px)
{
  .wizard > .content {min-height: 26em;}
  .wizard > .content > .body {padding:0px 30px 12px}
  .well { font-size: 16px; }

  .questionTitleLabel { font-size: 18px; }

  .radio { margin: 0; }
  .wizard > .content .body .radio label { padding: 10px 15px 10px 38px; }
}

@media screen and (min-width: 1030px)
{
    .wizard > .content { min-height: 29.5em; }
    .wizard > .content .body .radio label { padding: 12px 15px 12px 50px; }
    .well { font-size:18px; line-height:1.6; padding: 12px; }
    .wizard section > .form-group { margin-top: 20px; }
    .radio { margin: 0; }
}

/** FOR SMALL (MOBILE) SCREENS ONLY **/
@media screen and (max-width: 767px)
{
  .feedbackContainer .alert {
    font-size: 14.5px;
    font-weight: 400;
    padding: 5px 4px;
  }
}
